@page "/CadastrarArtista"
@inject ArtistasAPI artistasAPI
@inject NavigationManager navigationManager

<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center">
	<MudText Class="mt-8" Typo="Typo.h4">Cadastro do Artista</MudText>
	<MudForm>
		<MudTextField Class="mt-4" T="string" Placeholder="Nome do Artista"
					  Variant="Variant.Outlined"
					  @bind-Value="nome"
					  Required="true"
					  RequiredError="Campo obrigatório." />

		<MudTextField Class="mt-4" T="string" Placeholder="Biografia do Artista"
					  Variant="Variant.Outlined"
					  @bind-Value="biografia"
					  Lines="4"
					  Required="true"
					  RequiredError="Campo obrigatório." />
		
		<MudImage Class="mt-4" Src="@fileImage"/>
		<MudFileUpload T="IBrowserFile" Accept=".jpeg" FilesChanged="UploadFile">
			<ButtonTemplate>
				<MudButton HtmlTag="label"
						   Variant="Variant.Filled"
						   Color="Color.Primary"
						   StartIcon="@Icons.Material.Filled.PhotoCamera"
						   for="@context">
					Foto do Perfil
				</MudButton>
			</ButtonTemplate>
		</MudFileUpload>

		<div class="d-flex align-center justify-space-between mt-4">
			<MudButton Variant="Variant.Filled"
					   @onclick="VoltarListaArtista" 
					   Color="Color.Secondary"
					   Class="ml-auto">
				Voltar
			</MudButton>

			<MudButton Variant="Variant.Filled" 
					   @onclick="Cadastrar"
					   Color="Color.Primary" 
					   Class="ml-auto">
				Cadastrar
			</MudButton>
		</div>
	</MudForm>
</MudPaper>


@code {
	private string? nome;
	private string? biografia;
	private string? fileImage;

	private async Task Cadastrar()
	{
		ArtistaRequest request = new ArtistaRequest(nome!, biografia!);
		await artistasAPI.AddArtistaAsync(request);
		navigationManager.NavigateTo("/Artistas");
	}

	private void VoltarListaArtista()
	{
		navigationManager.NavigateTo("/Artistas");
	}

	private async Task UploadFile(IBrowserFile file)
	{
		long maxFileSize = 1024 * 1024 * 15;
		string format = "image/jpeg";
		var resizedImage = await file.RequestImageFileAsync(format, 200, 200);

		using Stream fileStream = resizedImage.OpenReadStream();
		using MemoryStream memoryStream = new();
		await fileStream.CopyToAsync(memoryStream);

		fileImage = $"data:{format};base64,{Convert.ToBase64String(memoryStream.ToArray())}";
	}
}
